
/* Navbar csss */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Andada Pro', serif;
}

.head{
    height: 40px;
    background-color: #2CC992;
}
.head p {
    line-height: 40px;
    margin-right: 10px;
    display: inline-block;
}
.head a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.head p{

}


#nav-bar{
    position: sticky !important;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: white;
}

.navbar-brand{
    font-size: 30px !important;
    color:#2CC992 !important;
    font-weight: 800;
    padding-left: 50px;
}

.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: black !important;
    font-weight: 600;
    text-transform: capitalize;
    float: right;
    text-align: left;
}
.navbar-nav li a:hover{
    color:white !important;
    background-color: #2CC992;
    border-radius: 5px;
    
}

/*Hero section*/

.hero{
    background-image: url("../img/2.jpg");
    height:550px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero .herotop h1{
    padding-top: 115px;
}
.hero h1{
    color: white;
    font-size: 45px;
    font-weight: bold;

}
.hero .btndiv{
    padding-top: 30px;
}

.hero2{
    background-color: #2CC992;
    height: 110px;
}

.hero2 .row h1{
    line-height: 110px;
    font-size: 30px;
}


.hero3 p{
    text-align: justify;
}

.hero3 img{
   height: 400px;
   
}


footer{
    background-color: black;

}






@media only screen and (max-width: 600px){

    .hero h1{
        font-size: 30px;
    }
}


